.images-list {
  margin-right:30px;
  display: flex;
  flex-wrap: wrap;
  gap: 152px; /* Adjust the spacing between each product container */
}

.HinhAnh {
  /* border: 1px solid #ddd; Optional: Add a border for better separation */
  /* border-radius: 5px; Optional: Add some border radius */
  padding: 10px; /* Optional: Add some padding */
   /* Optional: Add a background color */
  box-shadow: 0 0 0 rgba(248, 229, 229, 0.1);  
  display: flex;
  height: 500px;
  width: 400px;
}

.HinhAnh img {
  display: block;
  margin-bottom: 10px; /* Space below the image */
  gap: 50px;
}

.detail {
  padding: 10px; /* Space around the text and button */
  text-align: center; /* Center-align text */
  margin-top: 60px;
}

.detail h1 {
  font-size: 30px; /* Adjust as needed */
  margin-bottom: 20px; /* Space below the product name */
}

.detail h2 {
  font-size: 20px; /* Adjust as needed */
  margin-bottom: 10px; /* Space below the product price */
  color: rgb(177, 118, 30);
}

.detail button {
  padding: 10px 20px; /* Adjust button padding */
  font-size: 0.9em; /* Adjust button font size */
  cursor: pointer;
  border: none;
  background-color: #007bff; /* Adjust button background color */
  color: white; /* Adjust button text color */
  border-radius: 5px; /* Optional: Add border radius to button */
 

}
